In [1]:
import pandas as pd
import numpy as np 
from utilities import hotEncode
data = pd.read_csv("./Data/Data.csv")

In [7]:

print(data["propertytype"].unique())
data.head()

['Flat' 'Villa' 'House']

   bhk propertytype   location   sqft  pricepersqft  totalprice
0    3         Flat  Ahmedabad   1346          6233    15700000
1    4         Flat  Ahmedabad   1872          4873    17500000
2    4         Flat  Ahmedabad   1650          6733    20200000
3    5         Flat  Ahmedabad  10201          8499    86700000
4    3         Flat  Ahmedabad    968          5944    10400000

In [3]:
sampleData =  hotEncode(data,"propertytype",True)
sampleData.head()

   bhk   location  ...  propertytype_House  propertytype_Villa
0    3  Ahmedabad  ...                   0                   0
1    4  Ahmedabad  ...                   0                   0
2    4  Ahmedabad  ...                   0                   0
3    5  Ahmedabad  ...                   0                   0
4    3  Ahmedabad  ...                   0                   0

[5 rows x 8 columns]

In [11]:
sampleData.to_csv("./Data/finalData.csv")

In [8]:
sampleData.info()
sampleData["location"].unique()
cities = sampleData["location"].unique()
cities

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14119 entries, 0 to 14118
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bhk                 14119 non-null  int64
 1   location            14119 non-null  object
 2   sqft                14119 non-null  int64
 3   pricepersqft        14119 non-null  int64
 4   totalprice          14119 non-null  int64
 5   propertytype_Flat   14119 non-null  int64
 6   propertytype_House  14119 non-null  int64
 7   propertytype_Villa  14119 non-null  int64
dtypes: int64(7), object(1)
memory usage: 882.6+ KB

array(['Ahmedabad', 'Amritsar', 'Bangalore', 'Bhilai', 'Bhopal',
       'Bhubaneswar', 'Bilaspur', 'Chennai', 'Coimbatore', 'Cuttack',
       'Dehradun', 'Dhanbad', 'Durgapur', 'Dwarka', 'Ernakulam',
       'Faridabad', 'Gurgaon', 'Guwahati', 'Gwalior', 'Haridwar',
       'Howrah', 'Hyderabad', 'Indore', 'Jaipur', 'Jalandhar',
       'Jamshedpur', 'Jodhpur', 'Kanpur', 'Karimnagar', 'Kochi',
       'Kolkata', 'Kozhikode', 'Lucknow', 'Ludhiana', 'Madurai',
       'Mangalore', 'Mumbai', 'Muzaffarpur', 'Mysore', 'Nagpur',
       'NewDelhi', 'Noida', 'Panipat', 'Patna', 'Pondicherry', 'Pune',
       'Raipur', 'Ranchi', 'Rishikesh', 'Rohini', 'Shimla', 'Thane',
       'Trichy', 'Udaipur', 'Vadodara', 'Warangal'], dtype=object)

In [10]:
for city in cities:
    newData = sampleData[sampleData["location"]==city]
    print(newData)

     bhk   location  ...  propertytype_House  propertytype_Villa
0      3  Ahmedabad  ...                   0                   0
1      4  Ahmedabad  ...                   0                   0
2      4  Ahmedabad  ...                   0                   0
3      5  Ahmedabad  ...                   0                   0
4      3  Ahmedabad  ...                   0                   0
..   ...        ...  ...                 ...                 ...
285    1  Ahmedabad  ...                   0                   0
286    3  Ahmedabad  ...                   0                   0
287    3  Ahmedabad  ...                   0                   0
288    3  Ahmedabad  ...                   1                   0
289    2  Ahmedabad  ...                   1                   0

[290 rows x 8 columns]
     bhk  location  ...  propertytype_House  propertytype_Villa
290    2  Amritsar  ...                   1                   0
291    2  Amritsar  ...                   0                   0
292    2  Amritsar  ...                   1                   0
293    2  Amritsar  ...                   1                   0
294    3  Amritsar  ...                   1                   0
..   ...       ...  ...                 ...                 ...
430    2  Amritsar  ...                   1                   0
431    2  Amritsar  ...                   1                   0
432    3  Amritsar  ...                   1                   0
433    3  Amritsar  ...                   1                   0
434    2  Amritsar  ...                   1                   0

[145 rows x 8 columns]
     bhk   location  ...  propertytype_House  propertytype_Villa
435    2  Bangalore  ...                   0                   0
436    3  Bangalore  ...                   0                   0
437    3  Bangalore  ...                   0                   0
438    2  Bangalore  ...                   0                   0
439    4  Bangalore  ...                   0                   0
..   ...        ...  ...                 ...                 ...
729    3  Bangalore  ...                   0                   0
730    2  Bangalore  ...                   0                   0
731    3  Bangalore  ...                   0                   0
732    4  Bangalore  ...                   0                   0
733    4  Bangalore  ...                   0                   1

[299 rows x 8 columns]
     bhk location  ...  propertytype_House  propertytype_Villa
734    3   Bhilai  ...                   1                   0
735    2   Bhilai  ...                   0                   0
736    3   Bhilai  ...                   0                   0
737    3   Bhilai  ...                   1                   0
738    2   Bhilai  ...                   0                   0
..   ...      ...  ...                 ...                 ...
857    3   Bhilai  ...                   0                   0
858    3   Bhilai  ...                   1                   0
859    2   Bhilai  ...                   0                   0
860    3   Bhilai  ...                   0                   0
861    3   Bhilai  ...                   1                   0

[128 rows x 8 columns]
      bhk location  ...  propertytype_House  propertytype_Villa
862     3   Bhopal  ...                   0                   0
863     3   Bhopal  ...                   0                   0
864     3   Bhopal  ...                   0                   1
865     3   Bhopal  ...                   0                   1
866     3   Bhopal  ...                   0                   0
...   ...      ...  ...                 ...                 ...
1135    2   Bhopal  ...                   1                   0
1136    3   Bhopal  ...                   0                   0
1137    3   Bhopal  ...                   0                   0
1138    3   Bhopal  ...                   0                   1
1139    3   Bhopal  ...                   1                   0

[278 rows x 8 columns]
      bhk     location  ...  propertytype_House  propertytype_Villa
1140    3  Bhubaneswar  ...                   0                   0
1141    3  Bhubaneswar  ...                   0                   0
1142    3  Bhubaneswar  ...                   0                   0
1143    3  Bhubaneswar  ...                   0                   0
1144    3  Bhubaneswar  ...                   0                   0
...   ...          ...  ...                 ...                 ...
1429    2  Bhubaneswar  ...                   0                   0
1430    3  Bhubaneswar  ...                   0                   0
1431    2  Bhubaneswar  ...                   0                   0
1432    3  Bhubaneswar  ...                   0                   0
1433    3  Bhubaneswar  ...                   0                   0

[294 rows x 8 columns]
      bhk  location  ...  propertytype_House  propertytype_Villa
1434    3  Bilaspur  ...                   0                   0
1435    3  Bilaspur  ...                   1                   0
1436    3  Bilaspur  ...                   1                   0
1437    3  Bilaspur  ...                   1                   0
1438    2  Bilaspur  ...                   0                   0
...   ...       ...  ...                 ...                 ...
1585    2  Bilaspur  ...                   0                   0
1586    2  Bilaspur  ...                   1                   0
1587    3  Bilaspur  ...                   1                   0
1588    3  Bilaspur  ...                   1                   0
1589    3  Bilaspur  ...                   1                   0

[156 rows x 8 columns]
      bhk location  ...  propertytype_House  propertytype_Villa
1590    2  Chennai  ...                   0                   0
1591    3  Chennai  ...                   0                   0
1592    3  Chennai  ...                   0                   0
1593    3  Chennai  ...                   0                   0
1594    3  Chennai  ...                   0                   0
...   ...      ...  ...                 ...                 ...
1874    3  Chennai  ...                   0                   0
1875    2  Chennai  ...                   0                   0
1876    2  Chennai  ...                   0                   0
1877    2  Chennai  ...                   0                   1
1878    4  Chennai  ...                   0                   0

[289 rows x 8 columns]
      bhk    location  ...  propertytype_House  propertytype_Villa
1879    4  Coimbatore  ...                   0                   1
1880    3  Coimbatore  ...                   0                   1
1881    2  Coimbatore  ...                   0                   1
1882    3  Coimbatore  ...                   0                   1
1883    3  Coimbatore  ...                   1                   0
...   ...         ...  ...                 ...                 ...
2162    2  Coimbatore  ...                   1                   0
2163    4  Coimbatore  ...                   0                   1
2164    2  Coimbatore  ...                   0                   1
2165    3  Coimbatore  ...                   1                   0
2166    4  Coimbatore  ...                   0                   1

[288 rows x 8 columns]
      bhk location  ...  propertytype_House  propertytype_Villa
2167    2  Cuttack  ...                   0                   0
2168    2  Cuttack  ...                   0                   0
2169    3  Cuttack  ...                   0                   0
2170    3  Cuttack  ...                   0                   1
2171    3  Cuttack  ...                   0                   0
...   ...      ...  ...                 ...                 ...
2274    3  Cuttack  ...                   0                   1
2275    3  Cuttack  ...                   0                   0
2276    2  Cuttack  ...                   0                   0
2277    2  Cuttack  ...                   0                   0
2278    3  Cuttack  ...                   1                   0

[112 rows x 8 columns]
      bhk  location  ...  propertytype_House  propertytype_Villa
2279    3  Dehradun  ...                   0                   0
2280    3  Dehradun  ...                   1                   0
2281    3  Dehradun  ...                   0                   0
2282    3  Dehradun  ...                   0                   0
2283    3  Dehradun  ...                   0                   0
...   ...       ...  ...                 ...                 ...
2843    3  Dehradun  ...                   0                   0
2844    2  Dehradun  ...                   1                   0
2845    3  Dehradun  ...                   1                   0
2846    2  Dehradun  ...                   0                   0
2847    2  Dehradun  ...                   0                   0

[569 rows x 8 columns]
      bhk location  ...  propertytype_House  propertytype_Villa
2848    3  Dhanbad  ...                   0                   0
2849    3  Dhanbad  ...                   0                   0
2850    3  Dhanbad  ...                   0                   0
2851    2  Dhanbad  ...                   0                   0
2852    3  Dhanbad  ...                   0                   0
...   ...      ...  ...                 ...                 ...
2975    3  Dhanbad  ...                   0                   0
2976    2  Dhanbad  ...                   0                   0
2977    2  Dhanbad  ...                   0                   0
2978    3  Dhanbad  ...                   0                   0
2979    3  Dhanbad  ...                   0                   0

[132 rows x 8 columns]
      bhk  location  ...  propertytype_House  propertytype_Villa
2980    3  Durgapur  ...                   0                   1
2981    3  Durgapur  ...                   0                   0
2982    3  Durgapur  ...                   0                   0
2983    3  Durgapur  ...                   0                   0
2984    3  Durgapur  ...                   0                   0
...   ...       ...  ...                 ...                 ...
3206    3  Durgapur  ...                   0                   0
3207    2  Durgapur  ...                   1                   0
3208    2  Durgapur  ...                   0                   0
3209    3  Durgapur  ...                   1                   0
3210    2  Durgapur  ...                   0                   0

[231 rows x 8 columns]
      bhk location  ...  propertytype_House  propertytype_Villa
3211    3   Dwarka  ...                   0                   0
3212    3   Dwarka  ...                   0                   0
3213    2   Dwarka  ...                   0                   0
3214    3   Dwarka  ...                   0                   0
3215    3   Dwarka  ...                   0                   0
...   ...      ...  ...                 ...                 ...
3655    3   Dwarka  ...                   0                   0
3656    3   Dwarka  ...                   0                   0
3657    3   Dwarka  ...                   0                   0
3658    3   Dwarka  ...                   0                   0
3659    2   Dwarka  ...                   0                   0

[449 rows x 8 columns]
      bhk   location  ...  propertytype_House  propertytype_Villa
3660    3  Ernakulam  ...                   0                   0
3661    3  Ernakulam  ...                   0                   1
3662    2  Ernakulam  ...                   0                   0
3663    3  Ernakulam  ...                   0                   0
3664    2  Ernakulam  ...                   0                   0
...   ...        ...  ...                 ...                 ...
3916    3  Ernakulam  ...                   1                   0
3917    2  Ernakulam  ...                   1                   0
3918    3  Ernakulam  ...                   1                   0
3919    2  Ernakulam  ...                   1                   0
3920    3  Ernakulam  ...                   1                   0

[261 rows x 8 columns]
      bhk   location  ...  propertytype_House  propertytype_Villa
3921    3  Faridabad  ...                   0                   0
3922    2  Faridabad  ...                   0                   0
3923    3  Faridabad  ...                   0                   0
3924    3  Faridabad  ...                   0                   0
3925    3  Faridabad  ...                   0                   0
...   ...        ...  ...                 ...                 ...
4205    3  Faridabad  ...                   0                   0
4206    2  Faridabad  ...                   0                   0
4207    3  Faridabad  ...                   0                   0
4208    2  Faridabad  ...                   0                   0
4209    2  Faridabad  ...                   0                   0

[289 rows x 8 columns]
      bhk location  ...  propertytype_House  propertytype_Villa
4210    3  Gurgaon  ...                   0                   0
4211    3  Gurgaon  ...                   0                   0
4212    3  Gurgaon  ...                   0                   0
4213    3  Gurgaon  ...                   0                   0
4214    3  Gurgaon  ...                   0                   0
...   ...      ...  ...                 ...                 ...
4797    3  Gurgaon  ...                   0                   0
4798    2  Gurgaon  ...                   0                   0
4799    3  Gurgaon  ...                   0                   0
4800    3  Gurgaon  ...                   0                   0
4801    3  Gurgaon  ...                   0                   0

[592 rows x 8 columns]
      bhk  location  ...  propertytype_House  propertytype_Villa
4802    3  Guwahati  ...                   0                   0
4803    3  Guwahati  ...                   0                   0
4804    3  Guwahati  ...                   0                   0
4805    3  Guwahati  ...                   0                   0
4806    3  Guwahati  ...                   0                   0
...   ...       ...  ...                 ...                 ...
5362    3  Guwahati  ...                   0                   0
5363    2  Guwahati  ...                   0                   0
5364    3  Guwahati  ...                   0                   0
5365    2  Guwahati  ...                   0                   0
5366    3  Guwahati  ...                   0                   0

[565 rows x 8 columns]
      bhk location  ...  propertytype_House  propertytype_Villa
5367    2  Gwalior  ...                   0                   0
5368    3  Gwalior  ...                   1                   0
5369    3  Gwalior  ...                   1                   0
5370    2  Gwalior  ...                   0                   0
5371    2  Gwalior  ...                   1                   0
...   ...      ...  ...                 ...                 ...
5613    2  Gwalior  ...                   1                   0
5614    3  Gwalior  ...                   1                   0
5615    2  Gwalior  ...                   1                   0
5616    2  Gwalior  ...                   0                   0
5617    2  Gwalior  ...                   1                   0

[251 rows x 8 columns]
      bhk  location  ...  propertytype_House  propertytype_Villa
5618    2  Haridwar  ...                   1                   0
5619    2  Haridwar  ...                   0                   0
5620    3  Haridwar  ...                   1                   0
5621    3  Haridwar  ...                   1                   0
5622    2  Haridwar  ...                   0                   0
...   ...       ...  ...                 ...                 ...
5809    3  Haridwar  ...                   1                   0
5810    2  Haridwar  ...                   0                   0
5811    2  Haridwar  ...                   1                   0
5812    2  Haridwar  ...                   0                   0
5813    2  Haridwar  ...                   1                   0

[196 rows x 8 columns]
      bhk location  ...  propertytype_House  propertytype_Villa
5814    3   Howrah  ...                   0                   0
5815    3   Howrah  ...                   1                   0
5816    3   Howrah  ...                   0                   0
5817    3   Howrah  ...                   0                   0
5818    3   Howrah  ...                   0                   0
...   ...      ...  ...                 ...                 ...
6094    2   Howrah  ...                   0                   0
6095    3   Howrah  ...                   0                   0
6096    2   Howrah  ...                   0                   0
6097    3   Howrah  ...                   0                   0
6098    3   Howrah  ...                   0                   0

[285 rows x 8 columns]
      bhk   location  ...  propertytype_House  propertytype_Villa
6099    3  Hyderabad  ...                   0                   0
6100    3  Hyderabad  ...                   0                   0
6101    3  Hyderabad  ...                   0                   0
6102    3  Hyderabad  ...                   0                   0
6103    2  Hyderabad  ...                   0                   0
...   ...        ...  ...                 ...                 ...
6388    3  Hyderabad  ...                   0                   0
6389    3  Hyderabad  ...                   0                   0
6390    2  Hyderabad  ...                   0                   0
6391    3  Hyderabad  ...                   0                   1
6392    3  Hyderabad  ...                   0                   1

[294 rows x 8 columns]
      bhk location  ...  propertytype_House  propertytype_Villa
6393    3   Indore  ...                   0                   0
6394    3   Indore  ...                   0                   0
6395    2   Indore  ...                   1                   0
6396    2   Indore  ...                   0                   0
6397    3   Indore  ...                   1                   0
...   ...      ...  ...                 ...                 ...
6671    2   Indore  ...                   0                   0
6672    2   Indore  ...                   0                   0
6673    2   Indore  ...                   0                   0
6674    2   Indore  ...                   0                   1
6675    2   Indore  ...                   1                   0

[283 rows x 8 columns]
      bhk location  ...  propertytype_House  propertytype_Villa
6676    3   Jaipur  ...                   0                   0
6677    3   Jaipur  ...                   0                   0
6678    3   Jaipur  ...                   0                   0
6679    3   Jaipur  ...                   0                   0
6680    3   Jaipur  ...                   0                   0
...   ...      ...  ...                 ...                 ...
6962    3   Jaipur  ...                   0                   0
6963    3   Jaipur  ...                   0                   0
6964    3   Jaipur  ...                   0                   0
6965    2   Jaipur  ...                   0                   0
6966    3   Jaipur  ...                   0                   0

[291 rows x 8 columns]
      bhk   location  ...  propertytype_House  propertytype_Villa
6967    2  Jalandhar  ...                   1                   0
6968    3  Jalandhar  ...                   1                   0
6969    2  Jalandhar  ...                   1                   0
6970    2  Jalandhar  ...                   0                   0
6971    3  Jalandhar  ...                   1                   0
...   ...        ...  ...                 ...                 ...
7113    3  Jalandhar  ...                   1                   0
7114    3  Jalandhar  ...                   1                   0
7115    2  Jalandhar  ...                   1                   0
7116    2  Jalandhar  ...                   1                   0